html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

body {
    max-width: 1920px;
    height: 100vh;
    position: relative;
    font-family: 'Mochiy Pop One', sans-serif;
}

.simple-todo {
    max-width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px;
    border: 1px solid rgb(132, 129, 129);
    border-radius: 30px;
    background-color: rgba(76, 178, 219, 0.514);
    -webkit-box-shadow: 21px 14px 8px -1px rgba(34, 60, 80, 0.16); 
    -moz-box-shadow: 21px 14px 8px -1px rgba(34, 60, 80, 0.16); 
    box-shadow: 21px 14px 8px -1px rgba(34, 60, 80, 0.16);
}

.title-todo {
    margin: 0;
    text-align: center;
    margin-bottom: 35px;
}



.todo-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 35px;
}

li {
    cursor: pointer;
}

.todo-form {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

.todo-input {
    padding-left: 10px;
    -webkit-appearance: none;
    outline: none;
    border: none;
    border-bottom:1px solid #DCDCDC ;
    border-radius: 8px;
    background-color: #fff;
}

.btn-todo {
    padding: 10px 10px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgba(21, 76, 21, 0.413);
    border-radius: 8px;
    background-color: rgba(21, 76, 21, 0.413);
}

.btn-todo:hover {
    color: rgb(255, 229, 114);
    transition: all 0.2s ease-in-out;
}

.btn-todo:active {
    position: relative;
    top: 1px;
}
